@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Play, sans-serif;
}

.header {
    border: 2px solid pink;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.round-status {
    border: 2px solid goldenrod;
    text-align: center;
    font-size: 32px;
}

.container, .score-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.score-container {
    margin: 20px;
    gap: 50px;
}

#human-score-container,
#computer-score-container {
    text-align: center;
}

.symbol {
    padding: 20px;
}
